<footer>
    <section id="contact">
        <div class="contact">
            <img style="width: 70%;position: absolute;right: 0;z-index: 0" src="./img/rocketFooter.svg" alt="">
            <div class="contactImg">
                <img src="./img/logo.png" alt="">
                <div class="contactLogo">
                    <h5>Email: <a href="">ufestartup_club@ufe.edu.mn </a></h5>
                    <h5>Phone: <a href="">80200003 89690915</a></h5>
                </div>
                <input type="text" value="Email">
            </div>
            <div class="contactText">
                <div class="contactContainer">
                    <h1>Start Up Club</h1>
                    <ul>
                        <li><a href="https://www.facebook.com/UFE.Startup">Facebook</a></li>
                        <li><a href="https://www.instagram.com/ufestartup.club/">Instagram</a></li>
                        <li><a href="https://discord.gg/ ">Discord</a></li>
                        <li><a href="">Байршил</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </section>
</footer>