<section id="homePage">
    <div class="homePage" id="home">
        <nav class="navigation">
            <div class="navImg">
                <img src="./imgs/LogoChess.png" alt="Logo">
            </div>
            <div class="navButton" onclick="showMenu()">
                <img src="./imgs/menu.png" alt="Menu">
            </div>
            <div id="navList" class="navList">
                <ul>
                    <li>
                        <a href='#home'>Нүүр</a>
                    </li>
                    <li>
                        <a href='#enviroment'>Орчин</a>
                    </li>
                    <li>
                        <a href='#teachers'>Дасгалжуулагч</a>
                    </li>
                    <li>
                        <a href='#priority'>Онцлог</a>
                    </li>

                    <li>
                        <a href='#lesson'>Сургалт</a>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="homePageContainer">
            <div class="homePageTextSection">
                <div class="homePageText">
                    <h1>ШАТРЫН УХААНЫГ</h1>
                    <h2><strong>АМЬДРАЛД</strong></h2>
                    <div class="srchbar typewriter"><button></button>
                        <h1>Хамгийн чанартай шатрын сургалт</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomArrow">
            <img src="./imgs/white-arrow.png" alt="Arrow">
        </div>
    </div>
</section>