<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head')%>
        <link rel="stylesheet" href="./css/teachers.css">
</head>


<body>
    <section id="homePage">
        <div class="homePage" id="home">
            <nav class="navigation">
                <div class="navImg">
                    <img src="./imgs/LogoChess.png" alt="Logo">
                </div>
                <div class="navButton" onclick="showMenu()">
                    <img src="./imgs/menu.png" alt="Menu">
                </div>
                <div id="navList" class="navList">
                    <ul>
                        <li>
                            <a href='index.html#home'>Нүүр</a>
                        </li>
                        <li>
                            <a href='index.html#enviroment'>Орчин</a>
                        </li>
                        <li>
                            <a href='index.html#teachers'>Дасгалжуулагч</a>
                        </li>
                        <li>
                            <a href='index.html#priority'>Онцлог</a>
                        </li>

                        <li>
                            <a href='index.html#lesson'>Сургалт</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <div class="grayscale"></div>
                <div class="containerTop">
                    <img src="/imgs/teachers/muba.png" alt="">
                    <div class="containerTopText">
                        <h1>
                            Г.Анхбаяр
                        </h1>
                        <p>Ахлах багш</p>
                    </div>
                </div>
                <div class="containerBottom">

                    <h1>Мэдээлэл</h1>
                    <div class="line"></div>

                    <p> Монгол Улсын Дэд Мастер цол </p>
                    <p> 2010 онд Хятадад зохиогдсон өсвөрийн шатарчдын ази тивийн аварга шалгаруулах тэмцээнд амжилттай оролцсон. </p>


                    <h1>Ажлын туршлага</h1>
                    <div class="line"></div>
                    <p> Стейниц МША-ийн Салбар 2-ийг хариуцан нэг жилийн хугацаанд ажилласан.</p>
                    <p> Академиас бүтээсэн хамгийн шинэлэг, системчлэгдсэн 3 багц, 9 сар, 108 видео хичээл бүхий цахим шатрын сургалтыг хамтран үүсгэн байгуулагч.</p>
                    <p> Академиас хэрэгжүүлсэн хамгийн анхны системчлэгдсэн анхан шатны 100 хүүхдэд зориулсан 6 сарын шатрын төсөл дээр хамтран ажиллаж амжилттай хэрэгжүүлсэн.</p>
                    <p> Олонлог ЕБС-д 1 жилийн турш шатрын багшаар ажиллаж байсан.</p>
                    <p> “Баялаг Бөмбөөхэй” цэцэрлэгт шатрын багшаар 1 жилийн турш ажиллаж байсан ба сургуулийн өмнөх боловсролын хүүхдүүдэд заах чадвартай.</p>
                    <p> Мончесс МБША-аас хэрэгжүүлсэн төслийн хүрээнд “57-р цэцэрлэг”-д 6 сар шатрын багшаар ажиллаж байсан ба сургуулийн өмнөх боловсролын хүүхдүүдэд заах чадвартай.</p>
                    <p> 79-р ЕБСургуульд 1 жилд шатрын тусгай хөтөлбөр хэрэгжүүлсэн.</p>

                </div>

            </div>
        </div>

    </section>


    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js "></script>
    <script src="./js/swiper.js "></script>

</body>

</html>